// Reactor Room (Minimal Mistakes Child Theme)

/*

GLOBAL STYLES

*/

.page__content {
  p,
  li,
  dl {
    font-size: $type-size-5 * 1.1;
  }
}

.mfp-gallery .mfp-content .mfp-title p {
  font-size: $type-size-4;
  line-height: 1.5rem;

}

.hide-sup sup { display: none; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.footnotes {
  color: $masthead-link-color;
}

// Navigation

.greedy-nav a {
  letter-spacing: .06em;
}

// Footer

footer {
    display: flex;
    justify-content: space-between;
    margin-right: 0;

    a {font-family: $sans-serif;}

    .page__footer-copyright a:first-of-type { vertical-align: text-bottom;}
}

.page__footer-follow, .page__footer-copyright {
    margin-top: 0;
}

.page__footer-copyright {
    font-family: $header-font-family;
    font-size: $type-size-6;
    text-align: right;
}


.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

/*

INCLUDE STYLE OVERRIDES

*/

// Masthead

.masthead {
  box-shadow: 0 0 .5rem rgba(50, 50, 50, 0.5);
}

// Splash title and excerpt

// Splash

.splash {

  #page-title {
    font-family: $title-bold;
    font-size: $type-size-1 * 2;
    font-weight: bold;
    color:$red;
  }

  .page_lead {
    font-family: $title;
    font-size: $type-size-4;
    color: $lighter-gray;
  }

  .sidebar.sticky {
    top: $nav-height * 4;
    width: 5rem;
  }
}

// Page Hero

.layout--single .page__hero {
  overflow: hidden;
  max-height: 20rem;
  text-align: center;

  img {
      width: 200%;
  }
}

.layout--single .page__hero--embed {
  height: 100vh;

  .embed__title {
    width: 100%;

    h1 {
      max-width: calc(100% - 3 * #{$right-sidebar-width});
      margin-left: auto;
      margin-right: auto;
      padding: .5rem 0;
    }
  }
}

.page__hero--overlay {
    background-attachment: fixed;

    // $nav-height: 2em (_variables.scss) won't calc for some reason
    height: calc(100vh - 4em);
}

.splash .page__content {

  .feature__wrapper {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .feature__item {

      height: 12rem;
      margin-bottom: 1rem;
      box-shadow: 0 0 .25rem rgba(50, 50, 50, 0.5);
      background-position: top center;
      background-size: cover;


        @media screen and (max-width: $medium-wide) {

          width: calc(50% - 1rem);
          // min-width: 12rem;
        }
        @media screen and (max-width: $small) {

          width: calc(100% - 1rem);
        }

        a,a:hover {
          text-decoration: none !important;

          .archive__item {
            height: 100%;
            background-color: rgba(0,0,0,.75);
            transition: background-color .25s ease;
          }

          .archive__item:hover {
            background-color: rgba(0,0,0, 0);
            // box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5) inset;
          }
          h3.archive__item-title{
            color: lighten($steel,15%);
            padding: .25rem;
            text-decoration: none;
            margin-top: 0;

            &:after {
              content: "";
              position: absolute;
              bottom: -.5rem;
              height: 1px;
              width: 50%;
              left: 25%;
              background-color: $seafoam;
            }
          }
        }

    }
  
    .archive__item {

        .archive__item-teaser,
        .archive__item-title,
        .archive__item-excerpt {
            transition: opacity .5s ease-out;
            -webkit-transition: opacity .5s ease-out;
            -moz-transition: opacity .5s ease-out;
        }
    }

    .archive__item:hover {

        cursor: pointer;

        .archive__item-teaser,
        .archive__item-title,
        .archive__item-excerpt {

            opacity: .5;
        }
    }

    .archive__item-body {
      position: relative;
    }

  }
}

// Contributors

.contributors .contributor {
  
  // height: 210px;
  margin-bottom: 1rem;

  & .bio {
    // display: inline-block;
    float: left;
    width: 70%;
    height: 100%;
    margin-left: 0rem;

    @media screen and (max-width: $medium-wide) { margin-left: 0; }

    & p, & h3 {
      font-size: 1rem;
    }
  }

  & .bio.has-image {
    margin-left: 1rem;
  }

}

/*

ABOUT PAGE

*/

.ds-logo {
  img {
    width: 8rem;
    background-color: #fff;
    border-radius: .25rem;
    padding: .25rem;
  }
}

/*

PROJECT PAGES

*/


// two-column translations
.kaleidoscope section section {
  @media screen and (min-width: $medium) {
    float: left;
  }
}

.kaleidoscope section section.poem {
    width: span(6 of 12);

    &:nth-of-type(odd){
      clear: left;
    }

   h2,h3{
    font-family: $sans-serif;
    font-weight: bold;
    text-transform: capitalize;
  }

}

.sidebar__right.sticky .toc {
  font-family: $sans-serif;
  header,
  .toc__menu a {
    font-weight: normal;
  }

  li>ul {
    display: none;
  }
}


.kaleidoscope .sidebar__right.sticky .toc{
  &>ul>li:nth-of-type(3),
  &>ul>li:nth-of-type(5),
  &>ul>li:nth-of-type(7),
  li>ul {
    display: none;
  }
}


.datawrapper iframe {
  background-color: #fff;
  padding: 1rem;
}

.iframe  {
  
  .page__hero {
    max-height: unset;
    height: calc(100vh - 4rem);
  }

  iframe { 
    height: 100%;
  }
}

/*

EXTRAS

*/

.arrow{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid $lighter-gray;
  border-right: 5px solid $lighter-gray;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}