// Reactor Room (Minimal Mistakes Child Theme)

/*

GLOBAL STYLES

*/

.mfp-gallery .mfp-content .mfp-title p {
  font-size: $type-size-4;
  line-height: 1.5rem;

}

.hide-sup sup { display: none; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.footnotes {
  color: $masthead-link-color;
  max-width: $medium-wide;

  ul {
    font-size: $type-size-6;
    li { margin-bottom: $indent-var; }
  }

  li {
    padding-left: $indent-var;
    text-indent: -$indent-var;
  }
}

// Navigation

.greedy-nav a {
  letter-spacing: .06em;
}

.page__content h2,
.nav__sub-title,
.toc__menu a {
  border-bottom: 1px solid $masthead-link-color;
}

.toc__menu a:last-of-type {
  border-bottom: unset;
}

.toc {
  border: 1px solid $masthead-link-color;
}

.search__toggle {
  color: $masthead-link-color;

  &:hover {
    color: $masthead-link-color-hover;
  }
}

// Footer

footer {
    display: flex;
    justify-content: space-between;
    margin-right: 0;

    a {font-family: $sans-serif;}

    .page__footer-copyright a:first-of-type { vertical-align: text-bottom;}
}

.page__footer-follow, .page__footer-copyright {
    margin-top: 0;
}

.page__footer-copyright {
    font-family: $header-font-family;
    font-size: $type-size-6;
    text-align: right;
}


.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

/*

INCLUDE STYLE OVERRIDES

*/

// Masthead

.masthead {
  box-shadow: 0 0 .5rem rgba(50, 50, 50, 0.5);
}

// Splash title and excerpt

// Splash

.splash {

  #page-title {
    font-family: $title-bold;
    font-size: $type-size-1 * 2;
    font-weight: bold;
    color: lighten($red,10%);
    text-shadow: 10px 10px 10px rgba(0,0,0,.7);

    @media screen and (max-width: $medium) {
      font-size: $type-size-1;
    }
  }

  .page_lead {
    font-size: $type-size-3;
    color: #fff;
    // max-width: $large;
  }

  .sidebar.sticky {
    top: $nav-height * 4;
    width: 5.25rem;
    padding-left: 2px;
  }
}

// Page Hero

.layout--single .page__hero {
  overflow: hidden;
  max-height: 20rem;
  text-align: center;

  img {
      width: 200%;
  }
}

.layout--single .page__hero--embed {
  height: 100vh;

  .embed__title {
    width: 100%;

    h1 {
      max-width: calc(100% - 3 * #{$right-sidebar-width});
      margin-left: auto;
      margin-right: auto;
      padding: .5rem 0;
    }
  }
}

.page__hero--overlay {
    background-attachment: fixed;

    // $nav-height: 2em (_variables.scss) won't calc for some reason
    height: calc(100vh - 4em);
}

.splash .page__content {

  #mission {
    padding-top: 1rem;
    border-top: 2.5px solid $masthead-link-color;
    border-bottom: 2.5px solid $masthead-link-color;

    p {
      font-size: $type-size-4;
      max-width: $medium-wide;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .feature__wrapper {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-bottom: 2.5px solid $masthead-link-color;

    .feature__item {

      height: 12rem;
      margin-bottom: 1rem;
      box-shadow: 0 0 .25rem rgba(50, 50, 50, 0.5);
      border-radius: 4px;
      background-position: top center;
      background-size: cover;

        @media screen and (max-width: $medium-wide) {

          width: calc(50% - 1rem);
        }
        @media screen and (max-width: $small) {

          width: calc(100% - 1rem);
        }
        @media screen and (max-width: $medium-wide) {
          &:nth-child(2n+1) {
            margin-left: 0;
          }    
          &:nth-child(2n) {
            margin-left: gutter(of 12);
          }    
        }

        a,a:hover {
          text-decoration: none !important;

          .archive__item {
            height: 100%;
            background-color: rgba(0,0,0,.75);
            transition: background-color .25s ease;
          }

          .archive__item:hover {
            background-color: rgba(0,0,0, 0);
            // box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5) inset;
          }
          h3.archive__item-title{
            color: lighten($steel,15%);
            padding: .25rem;
            text-decoration: none;
            margin-top: 0;
            text-align: center;

            &:after {
              content: "";
              position: absolute;
              bottom: -.5rem;
              height: 1px;
              width: 50%;
              left: 25%;
              background-color: $seafoam;
            }
          }
        }

    }
  
    .archive__item {

        .archive__item-teaser,
        .archive__item-title,
        .archive__item-excerpt {
            transition: opacity .5s ease-out;
            -webkit-transition: opacity .5s ease-out;
            -moz-transition: opacity .5s ease-out;
        }
    }

    .archive__item:hover {

        cursor: pointer;

        .archive__item-teaser,
        .archive__item-title,
        .archive__item-excerpt {

            opacity: .5;
        }
    }

    .archive__item-body {
      position: relative;
    }

  }
}

/*

SEARCH PAGE

*/

input#search.search-input {
  font-family: $title;
}

.search-content.is--visible {

  .archive__item {
    max-width: $medium-wide;
    border-bottom: 1.5px solid $masthead-link-color;
    margin: 1rem 0;
    padding-bottom: 1rem;
  }

  .archive__item:hover .archive__item-title a {
    color: $link-color-hover;
  }

  .archive__item-teaser {
    box-shadow: 0 0 .25rem rgba(50, 50, 50, 0.5);
    max-height: $small/2;
  }

  p.results__found,
  .archive__item-excerpt {
    font-size: $type-size-5;
    .contributor {
      font-weight: bold;
    }
  }
}

/*

ABOUT PAGE

*/

.ds-logo {
  img {
    width: 8rem;
    padding-bottom: .25rem;
  }
}

/*

PROJECT PAGES

*/

.page__content p,
.page__content figure {
  max-width: $medium-wide;

}

.page__content figure.small {
  max-width: $small;
}

// Contributors


.contributors {
  border-top: 1px solid $masthead-link-color;
  width: 100%;
  
  .contributor {
    margin-top: 2rem;
    max-width: $medium;
    margin-left: auto;
    margin-right: auto;
  }
}

// Pagination

.page__content + .pagination, .page__meta + .pagination, .comment__date + .pagination, .page__share + .pagination, .page__comments + .pagination {
  border-top: 1px solid $masthead-link-color;
}

.pagination--pager {
  border: 1px solid $masthead-link-color;

  &:hover {
    background-color: $masthead-link-color;
    color: $peach;
  }
}

.page__content a:not(.btn):not(#goog-wm-sb) img.align-center {
  box-shadow: 0 0 .25rem rgba(50, 50, 50, 0.5);
}
.page__content a:not(.btn):not(#goog-wm-sb):hover img.align-center {
  box-shadow: 0 0 1rem rgba(50, 50, 50, 0.75);
}

.page__inner-wrap iframe {
  margin-bottom: 1rem;
}

// two-column translations
.kaleidoscope section section {
  @media screen and (min-width: $medium) {
    float: left;
  }
}

.kaleidoscope section section.poem {
    width: span(6 of 12);

    &:nth-of-type(odd){
      clear: left;
    }

   h2,h3{
    font-family: $sans-serif;
    font-weight: bold;
    text-transform: capitalize;
  }

}

.sidebar__right.sticky {
  top: $nav-height * 3;
  .toc {
    font-family: $sans-serif;

    header,
    .toc__menu a {
      font-weight: normal;
    }

    li>ul {
      display: none;
    }
    }
}

.kaleidoscope .sidebar__right.sticky .toc{
  &>ul>li:nth-of-type(3),
  &>ul>li:nth-of-type(5),
  &>ul>li:nth-of-type(7),
  li>ul {
    display: none;
  }
}


.datawrapper iframe {
  background-color: #fff;
  padding: 1rem;
}

.iframe  {
  
  .page__hero {
    max-height: unset;
    height: calc(100vh - 4rem);
  }

  iframe { 
    height: 100%;
  }

  iframe::-webkit-scrollbar {
    display: none;
  }
  iframe::scrollbar {
    display: none;
  }
}

body.layout--single.embed.iframe.arcgis {

  .page__hero {
    max-height: unset;
    height: calc(100vh - 2rem);
    border-bottom: 2.5px solid $masthead-link-color;
  }
  .page__hero span {
    font-family: $sans-serif;
    font-size: $type-size-6;
    padding: .5rem;
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    background-color: rgba($background-color,.8);
    border: 1px solid $masthead-link-color;
    border-radius: 4px;
    box-shadow: 0 0 .25rem rgba(50, 50, 50, 0.6);

    a {
      color: $muted-text-color;
      text-decoration: none;
    }

    a:hover {
      color: $text-color;
    }
  }
}

/*

EXTRAS

*/

.arrow{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,-50%);

  @media screen and (max-width: $small){
    bottom: 20%;
  }
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid $lighter-gray;
  border-right: 5px solid $lighter-gray;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}